# Exclude everything
/*

# Specific includes

## Build System
!/.config/
!NuGet.Config
!Directory.Build.props

## Build Scripts
!build.sh
!build.ps1
!build.cmd

## Markdowns
!*.md
!/LICENSE

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

## GitHub specific
!/.github/

## 'assets' folder
!/assets/

## 'Games' folder
!/Games/
/Games/*/*
!/Games/*/metadata.json

## Solution
!/NuGet-GameLib-Dehumidifier.sln

### Build Project
!/build/
/build/[Bb]in/
/build/[Oo]bj/

# Explicit exceptions/ignores